<section id="{{ subcontent_id }}">
	{% if subcontent_content %}
	<div class="row-fluid">
		{% if subcontent_image_position == 'left' or subcontent_image_position == nil %}
		<div class="span3">
			<img src="{{ subcontent_image }}"/>
		</div>
		{% endif %}
		<div class="span9">
			<h4>{{ subcontent_title | markdownify }}</h4>
			<p class="lead">{{ subcontent_lead | markdownify }} </p>
			{{ subcontent_content | markdownify }}
		</div>
		{% if subcontent_image_position == 'right' %}
		<div class="span3">
			<img src="{{ subcontent_image }}"/>
		</div>
		{% endif %}
	</div>
	<hr/>
	{% else %}
	<div class="page-header">
		<h2>{{ subcontent_title | markdownify  }}</h2>
	</div>
	{% endif %}
	{{ subcontent_footer | markdownify }}
</section>
{% comment %} reset variables to be reused {% endcomment %}
{% assign subcontent_id = nill %}
{% assign subcontent_title = nill %}
{% assign subcontent_lead = nill %}
{% assign subcontent_image = nill %}
{% assign subcontent_content = nill %}
{% assign subcontent_footer = nill %}
{% assign subcontent_image_position = nil %}