	<div class="page-header">
		<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
	</div>

	{% assign pages_list = site.pages %}
	
	<ul class="nav nav-tabs">
	{% for node in pages_list %}
		{% if node.concept-tab-id != null %}
			<li {% if node.concept-tab-id == page.concept-tab-id %}class="active"{% endif %}><a href="{{ BASE_PATH }}{{ node.url }}">{{ node.title }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
	
	<!-- And now the content of the tab -->
	{% assign group = 'subconcept' %}
	{% assign tab-id = page.concept-tab-id %}
	
	<div class="tab-content">
		<div class="tab-pane active" id="{{ page.tab-id }}">
			<div class="row-fluid">
				<div class="span3 bs-docs-sidebar">
					<ul class="nav nav-list bs-docs-sidenav" >
					{% for node in pages_list %}
						{% if group == node.group and tab-id == node.tab-id and node.title != null %}
						<li><a href="#{{ node.id }}"><i class="icon-chevron-right"></i> {{ node.title }}</a></li>
						{% endif %}
					{% endfor %}					
					</ul>
				</div>
				<div class="span9">
				{% for node in pages_list %}
					{% if group == node.group and tab-id == node.tab-id and node.title != null %}
					<section id="{{ node.id }}">
						{{ node.content | markdownify }}
						<a href="{{ node.url }}">more ...</a>
					</section>
					{% endif %}
				{% endfor %}
				</div>
			</div>
		</div>
	</div>