---
layout: default
---
{% include JB/setup %}
{% assign first_tab = page.order | split: ' ' | first %}
{% for node in site.pages %}
	{% assign node_url = node.url | remove:'/index.html' | split:'/' | last %}
	{% if node_url == first_tab %}
		{% assign _page_title = node.title %}
		{% assign _page_tagline = node.tagline %}
		{% assign _page_id = node.id %}
		{% assign _page_tab-id = node.tab-id %}
		{% assign _page_order = node.order %}
	{% endif %}
{% endfor %}
{% include themes/flower/page-subconcept.html %}
